.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.carousel-indicators [data-bs-target]{
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  opacity: .2 !important;
  transition: 4s !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  
}

.carousel-caption{
  position: absolute !important;
  right: 0% !important;
  left: 8% !important;
  text-align: left !important;
  bottom: 5% !important;
  color: #6b6c6d !important;
}

h3{
  font-weight: 600 !important;
}
