body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family:'Calibri', sans-serif;
}

header{
   width: 100%;
   height: 100%;
   padding: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

main{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info, .center, .bottom{
    padding-top: .75rem;
    padding-bottom: .75rem;
    height: auto;
}

.main-divs{
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
}

.center, .bottom, .center-main{
    text-align: center;
}

.book-appointment{
    width: 300px;
    height: 50px;
    font-weight: 600;
}

.title, .company, .bold{
    font-weight: 900 !important;
}

.slogan{
    font-style: italic;
}

.bigger{
    font-size: 60px;
}

.experience{
    color: grey;
}

.job-experience, .testimonial{
    width: 400px;
    height: 600px;
    border: 1px solid black;
    padding: 40px;
}

.job-img-container{
    width: 400px;
    height: 300px;
}

.job-images{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.quote{
    width: 65px;
    height: 65px;
    opacity: 0.4;
}

.profile-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container{
    position: relative;
    bottom: 0%;
}

